/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 .splash-nav {
    align-items: center;
    display: flex;
    height: 130px;
    padding: 0px;
    position: relative;
    border-bottom: solid 1px black;
    max-width: 1220px;
 }

 .login-btn {

   
 }

/* 
 import React from 'react';
import { Link } from 'react-router-dom';

const NavigationBar = ({ currentUser, logout }) => {
    const navBar = currentUser ? (
        <div>
            <p>{currentUser.email}</p>
            <ul className='logout-dropdown'>
                <button className='logout' onClick={logout}>Sign out {currentUser.email}</button>
            </ul>
            <ul className='nav-bar-links'>
                <li>All Notes</li>
                <li>Shared with me</li>
                <li>Shared with me</li>
                <li>Tags</li>
                <li>Trash</li>
            </ul>
        </div>
    ) : (
            <div className='splash-nav'>
                <div className="-splash-nav-header">
                <h1>Notable</h1>
                    <Link to='/signup'>Sign up</Link>
                        <p>or</p>
                    <button className="login"><Link className='btn' to='/login'>Log In</Link></button>
                </div>
            </div>
    );
    return (
        <div className="nav-bar-parent">
            {navBar}
        </div>
    );
};

export default NavigationBar; */


