/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

.splash-zone {
    align-items: center;
    display: flex;
    height: 130px;
    padding: 0px 40px;
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #00a82d;
    text-align: center;
    padding: 14px 16px;
    -webkit-font-smoothing: antialiased; 
};

a#login {
    display: inline-block;
    height: 40px;
    min-width: 120px;
    line-height: 37px;
    text-align: center;
    border-radius: 3px;
    border: 2px solid #00a82d;
    padding: 0px 10px;
    transition: border .3s ease-in-out,color .3s ease-in-out
    };


.user {
    list-style: none;
    font-family: Soleil_Bold,Helvetica,Arial,sans-serif;
    line-height: 21px;
    font-size: 13px;
    float: right;
    display: flex;
    flex-direction: row;
}

.user > li {
    display: inline;
    float: left;
    display: block;
    padding: 8px;
}; */